name: Java CI with Maven (Push)

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_CENTRAL_TOKEN
          gpg-private-key: ${{ secrets.GPG_SIGNING_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build Engine Plugin
        run:  |
          cd multiapi-engine
          mvn -B install

#      - name: Publish Maven Plugin to Maven Central Packages
#        run: |
#          cd scs-multiapi-maven-plugin
#          mvn deploy
#        env:
#          MAVEN_USERNAME: ${{ secrets.JIRAID }}
#          MAVEN_CENTRAL_TOKEN: ${{ secrets.JIRAPASS }}
#          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

      - name: Publish Gradle plugin to Gradle Repo
        run: |
          cd scs-multiapi-gradle-plugin
          gradle wrapper
          chmod +x gradlew
          ./gradlew publishPlugins -Dgradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }} -Dgradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}

      - name: Maven version
        uses: JActions/maven-version@v1.0.0
        id: get-version

      - name: Create a Release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: ${{ steps.get-version.outputs.version }}
          prerelease: false
          title: "Release ${{ steps.get-version.outputs.version }}"