name: Pull Request Approved

on:
  pull_request_review:
    types: [submitted]

concurrency: pr-${{ github.event.pull_request.id }}

jobs:
  check-labels:
    runs-on: ubuntu-latest
    if: github.event.pull_request.mergeable == true
    steps:
      - name: Warn about missing labels
        if: ${{ !contains(github.event.pull_request.labels.*.name, 'release') && !contains(github.event.pull_request.labels.*.name, 'documentation') && !contains(github.event.pull_request.labels.*.name, 'release-maven') && !contains(github.event.pull_request.labels.*.name, 'release-gradle')}}}
        uses: thollander/actions-comment-pull-request@v2
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          message: "This pull request hasn't been labeled as `release`, `release-gradle`, `release-maven` or `documentation`. Please ensure this is intentional before merging."
          comment_tag: label-warn
:w
